.venv/
__pycache__/
*.egg-info/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
dist/
build/
!docs/

# IDE
.idea/
.vscode/

*.local.sh
zsh_function.local.sh
config.local.yaml
deploy*.local.env
.env
.env.*
!.env.example

